
<div class="text-center title">
  <h1> My hommage <br> <b>Lord <%= @user.first_name %> </b></h1>
</div>

<div class="text-center wrapper">
  <%#= @user.gender == "Male" ? @image = "king.jpg" : @image = "queen.jpg" %>
  <%= image_tag 'king.jpg', class: "profile-img" %><br>
  <p>First Name:</p><%= @user.first_name %>
  <p>Last Name:</p><%= @user.last_name %>
  <p>Email:</p><%= @user.email %>
  <p>Phone Number:</p><%= @user.phone_number %>
  <p>Gender: </p><%= @user.gender == "Male" ? "Prince" : "Princess" %>
  <p>Address:</p><%= @user.address %>
  </br>



  <div class="text-center" >

  <% @user.castles.each do |castle| %>
    <div class="col-md-4" >
      <div class="castle-box text-center">
          <div class= "picture-frame" >
            <%= image_tag("castle2.jpg", class: "img-responsive") %>
            <p>22</p>
          </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to root_path do %>
  <button class="btn btn-primary">Rent your castle</button>
<% end %>



</div>
