<p id="notice"><%= notice %></p>
<div class= "page-title text-center"> <p></p><b>The castles near <%= params[:location].capitalize %></b></div>
<div class="map" >
  <div id="map" style="width: 100%; height:100%"></div>
</div>
<!-- Listing Castles -->
<div class=container >
  <div class="row">
    <div class="col-md-12 top-of-page">
    </div>
  </div>
  <% @castles.each do |castle| %>
    <div class="col-md-4" >
      <div class="castle-box text-center">
          <div class= "picture-frame" >
            <%= image_tag("castle2.jpg", class: "img-responsive") %>
          </div>
          <p> <%= link_to castle.name, castle_path(castle) %> </p>
          <p>Distance: <%= castle.distance.round(1) %> km </p>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(".castle-box").click(function(){
    if($(this).parent().hasClass("col-md-4")){
      $(this).parent().removeClass( "col-md-4" ).addClass( "col-md-12" ).css( "z-index", "3" );
      // $(this).css("width", "50%");
    }
    else{
      $(this).parent().removeClass( "col-md-12" ).addClass( "col-md-4" ).css( "z-index", "1" );
      // $(this).css("width", "100%");
    }
  });
</script>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @castle_coordinates %>;
        alert('Castle coordinates are ' + coord.latitude + ', ' + coord.longitude);
        <!-- above put in dynamic message -->
      });
    <% end %>
  <% end %>
  <%= @castle_coordinates %>


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>

<br>

<%= link_to 'New Castle', new_castle_path %>
