<p id="notice"><%= notice %></p>

<h1>Listing Castles</h1>


<div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @castle_coordinates %>;
        alert('Flat coordinates are ' + coord.latitude + ', ' + coord.longitude);
        <!-- above put in dynamic message -->
      });
    <% end %>
  <% end %>
  <%= @castle_coordinates %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @castles.each do |castle| %>
      <tr>
        <td><%= link_to castle.name %></td>
        <td><%= link_to 'Show', castle %></td>
        <td><%= link_to 'Edit', edit_castle_path(castle) %></td>
        <td><%= link_to 'Destroy', castle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>

<br>

<%= link_to 'New Castle', new_castle_path %>
