
<div class="wrapper text-center">
  <h2>Create a new castle</h2>
   <%= simple_form_for @castle do |f| %>
   <div class="text-field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <br>
     <%= f.label :address %>
     <br>
    <%= f.text_field :address %>
    <br>
    <br>
     <%= f.label :description %>
     <br>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.label :picture %>
    <br>
    <%= f.file_field :picture %>
    <br>
    <br>
     <%= f.input :beds, collection: 1..50 %>
    <br>
    <br>
    <%= f.submit %>
  </div>
  <% end %>
</div>





