<p id="notice"><%= notice %></p>


     <%= image_tag @castle.picture.url(:medium) %>
 
<h1> This is <%= @castle.name %> </h1>
<p> Total beds: <%= @castle.beds %> </p>
<p> Description: <%= @castle.description %>
<p> Address: <%= @castle.address %>


<p><%= link_to 'Edit', edit_castle_path(@castle) %></p>
<p><%= link_to 'Destroy', @castle, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<%= link_to 'Back', castles_path %>
