<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<p id="notice"><%= notice %></p>

<!-- Set direction of path if booking is available or not available -->

<div class="col-md-12 text-center" >
  <div class="title" style="padding-top: 20px" >
    <%= image_tag @castle.picture.url(:medium) %><br>
    <h2><%= @castle.name %></h2><br>
    <%= @castle.id %><br>
    <%= @castle.beds %><br>
    <%= @castle.description %><br>
    <%= @castle.address %><br><br>

    <%= form_tag castle_path(@castle), method: :get do %>
      <%= text_field_tag :start_date, params[:start_date], class:"datepicker" , placeholder: 'from (date)' %>
      <%= text_field_tag :end_date, params[:end_date], class:"datepicker" , placeholder: 'until (date)' %>
      <%= submit_tag "BOOK THESE DATES NOW", :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Back', castles_path %>

    <!-- Date Picker -->
    <script type="text/javascript">

    $(document).ready(function(){
    // Do javascript when page loads

        // var not_available_array = ["2015-06-24","2015-06-25","2015-06-26"]

        var not_available_array = <%= raw @not_available_array %>
        // bad practice
        // should process the variable above the script tag above.

        console.log(not_available_array) // in javascript - shows data in chrome console

        $('.datepicker').datepicker({
          inline: true,
          showOtherMonths: true,
          dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
          beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ not_available_array.indexOf(string) == -1 ]
          }
        });
      })
    </script>

  </div>
</div>
